#
# for Linux
#
gsiview
a.out
core
*.o
*.dep
#
# for Mac
#
.DS_Store
*.xcodeproj/*
!project.pbxproj
*.xcuserdatad/
DerivedData/
#
# for Windows
#
/Debug/
/Release/
/x64/
/ipch/
/packages/
Thumbs.db
*.com
*.exe
*.ncb
*.suo
*.sdf
*.opensdf
*.tmp
*.swp
#
# anothre stuff
#
*~
*.bak
*.csv
*.png
