#
# for Linux
#
*.o
core
a.out
gsiview
#
# for Mac
#
.DS_Store
*.xcodeproj/*
!project.pbxproj
*.xcuserdatad/
build/
DerivedData/
#
# for Windows
#
Thumbs.db
/Debug/
/Release/
/x64/
/ipch/
/packages/
*.com
*.exe
*.ncb
*.suo
*.sdf
*.opensdf

#
# anothre stuff
#
*~
*.bak
*.tmp
*.swp
*.dep
*.csv
*.png
